.search-form {
  margin-bottom: 16px;
  
  .ant-form-item {
    margin-bottom: 16px;
  }
}

.online-table {
  .ant-table-thead > tr > th:first-child,
  .ant-table-thead > tr > th:first-child .ant-table-column-title,
  .ant-table-tbody > tr > td:first-child {
    white-space: nowrap;
  }
}
